Repository APP-iOS2/final-zipadoo, pull requests merged in 2023-12, with the labels that each got.

#381 설정 버튼 메뉴 마이탭으로 옮기기
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Assets.xcassets/colors/blackprimary.colorset/Contents.json
  Zipadoo/Zipadoo/Views/MyPageViews/AppInfoView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/MyPageView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/SettingView.swift
Labels: Fix, Design, 상규, Mypage

#385 [FIX] 계정 삭제 기능 추가
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Enum/Enum.swift
  Zipadoo/Zipadoo/Extention/Extention.swift
  Zipadoo/Zipadoo/ViewModels/Friends/FriendsStore.swift
  Zipadoo/Zipadoo/ViewModels/Login/AuthStore.swift
  Zipadoo/Zipadoo/Views/Friends/FriendsRegistrationView.swift
  Zipadoo/Zipadoo/Views/Home/AddPomisePlaceSubViews/NewMapViews/SearchbarCell.swift
  Zipadoo/Zipadoo/Views/Home/AddPomisePlaceSubViews/OneAddLocation.swift
  Zipadoo/Zipadoo/Views/Home/AddPromise/AddPromiseView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseEditView.swift
  Zipadoo/Zipadoo/Views/Login/LoginView.swift
  Zipadoo/Zipadoo/Views/Login/SigninByEmailView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/EditProfilView.swift
Labels: Fix, Design, 상규, Mypage

#392 친구 목록 순서 고정
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/ViewModels/Friends/FriendsStore.swift
Labels: Fix, 여훈, Friends

#391 [FIX] 친구요청 버튼 글자색 다크모드 적용
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Views/Friends/FriendsRegistrationView.swift
Labels: Fix, 현정, Friends

#393 [FIX] ProfileImage 수정
  Zipadoo/Zipadoo/ViewModels/Login/AuthStore.swift
  Zipadoo/Zipadoo/Views/MyPageViews/MyPageView.swift
  Zipadoo/Zipadoo/Views/ProfileImageView.swift
Labels: Fix, 해수

#394 [FIX] 약속장소 검색 시 카테고리 안보이는 사항 수정
  Zipadoo/Zipadoo/Views/Home/AddPomisePlaceSubViews/NewMapViews/AddPlaceButtonCell.swift
  Zipadoo/Zipadoo/Views/Home/AddPomisePlaceSubViews/NewMapViews/SearchbarCell.swift
  Zipadoo/Zipadoo/Views/Home/AddPomisePlaceSubViews/SearchInKakaoLocal.swift
  Zipadoo/Zipadoo/Views/Home/AddPromise/AddPromiseView.swift
Labels: Fix, 상규, Home
