Repository APP-iOS2/final-zipadoo, pull requests merged in 2023-11, with the labels that each got.

#336 [REFACTOR] 약속수정뷰 관련 뷰 리팩토링
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Enum/Enum.swift
  Zipadoo/Zipadoo/ViewModels/PromiseViewModel.swift
  Zipadoo/Zipadoo/Views/Home/MakePromiseViewModel/AddFriendSubViews/AddFriendCellView.swift
  Zipadoo/Zipadoo/Views/Home/MakePromiseViewModel/AddFriendSubViews/FriendCellView.swift
  Zipadoo/Zipadoo/Views/Home/MakePromiseViewModel/AddFriendSubViews/FriendSellView.swift
  Zipadoo/Zipadoo/Views/Home/MakePromiseViewModel/AddFriendSubViews/FriendsListView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseEditView.swift
Labels: Refactor, 현정, Home

#337 [REFACTOR] 홈뷰 및 약속디테일뷰 관련 뷰 리팩토링
  Zipadoo/Zipadoo/Enum/Enum.swift
  Zipadoo/Zipadoo/Views/Home/FriendsLocationListView.swift
  Zipadoo/Zipadoo/Views/Home/FriendsLocationView.swift
  Zipadoo/Zipadoo/Views/Home/HomeMainView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailView.swift
Labels: Design, Refactor, 상규, Home

#333 [REFACTOR] 지도 뷰 리팩토링
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Extention/Extention.swift
  Zipadoo/Zipadoo/Views/Home/ExpectedTravelTimeMarkView.swift
  Zipadoo/Zipadoo/Views/Home/FriendsImageView.swift
  Zipadoo/Zipadoo/Views/Home/FriendsMapSubView.swift
  Zipadoo/Zipadoo/Views/Home/FriendsMapView.swift
  Zipadoo/Zipadoo/Views/Home/PlaceMarkView.swift
  Zipadoo/Zipadoo/Views/Home/ProgressSubView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailMapSubView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailMapView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailProgressBarView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseTitleAndTimeView.swift
Labels: Refactor, 여훈, Home

#345 [REFACTOR] FriendsView 리팩토링
  Zipadoo/Zipadoo/Views/Friends/FriendProfileView.swift
  Zipadoo/Zipadoo/Views/Friends/FriendsRegistrationView.swift
  Zipadoo/Zipadoo/Views/Friends/FriendsView.swift
Labels: Refactor, 해수, Friends

#346 [REAFACTOR] 마이페이지 뷰 수정 1~3
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Extention/Extention.swift
  Zipadoo/Zipadoo/Views/MyPageViews/ArrivalResultTempView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/ArriveResultView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/PastPromiseView.swift
Labels: Refactor, 여훈

#347 [REFACTOR] 마이페이지 리팩토링
  Zipadoo/Settings.bundle/Root.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject.latest_result.txt
  Zipadoo/Settings.bundle/ZipadooLicenseProject.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/Alamofire.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/AppsFlyerFramework.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/GoogleAppMeasurement.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/GoogleDataTransport.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/GoogleUtilities.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/abseil-cpp-binary.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/firebase-ios-sdk.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/grpc-binary.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/gtm-session-fetcher.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/interop-ios-for-google-sdks.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/leveldb.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/lottie-ios.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/nanopb.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/promises.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/swift-protobuf.plist
  Zipadoo/Settings.bundle/en.lproj/Root.strings
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Views/MyPageViews/AppInfoView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/PayingView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/SettingView.swift
Labels: Feat, Refactor, 현정, Mypage

#348 [REAFACTOR] 마이페이지 뷰 수정 4~6 & 약속 상세뷰 디자인 수정
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Views/Home/ParticipantInfoView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/MyPageView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/MyPotatoView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/TossPayView.swift
Labels: Design, Refactor, 상규, Home

#350 [REFACTOR] 마이페이지 뷰 리팩토링
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Views/MyPageViews/DeveloperProfileView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/EditPasswordView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/EditProfilView.swift
Labels: Refactor, 여훈, Mypage

#356 [REFACTOR] 로그인뷰 리팩토링
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Enum/Enum.swift
  Zipadoo/Zipadoo/Extention/Extention.swift
  Zipadoo/Zipadoo/Modifier/Modifier.swift
  Zipadoo/Zipadoo/ViewModels/Validation.swift
  Zipadoo/Zipadoo/Views/Login/LoginByEmailPWView.swift
  Zipadoo/Zipadoo/Views/Login/LoginEmailCheckView.swift
  Zipadoo/Zipadoo/Views/Login/LoginView.swift
  Zipadoo/Zipadoo/Views/Login/SigninByEmail2View.swift
  Zipadoo/Zipadoo/Views/Login/SigninByEmailView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/EditPasswordView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/EditProfilView.swift
Labels: Refactor, 현정, Login

#365 Dev/firebase #351
  Zipadoo/Zipadoo/ViewModels/Friends/FriendsStore.swift
Labels: Refactor, 해수, Firebase

#367 [REFACTOR] LocationStore, 두더지바 숨기고 남은거리로만 표현
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Enum/Enum.swift
  Zipadoo/Zipadoo/ViewModels/LocationStore.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailMapSubView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailProgressBarView.swift
Labels: Refactor, 현정, Home, Firebase

#370 [FIX] 여러 기능 수정
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Views/Friends/FriendsView.swift
  Zipadoo/Zipadoo/Views/Friends/SlidingTabView.swift
  Zipadoo/Zipadoo/Views/Home/AddPromise/CustomDatePickerView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseEditView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/EditProfilView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/MyPageView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/SettingView.swift
  Zipadoo/Zipadoo/Views/ProfileImageView.swift
Labels: Fix, 여훈, Mypage, Friends

#371 [FIX] 30분 전 알림 코드 수정
  Zipadoo/Zipadoo/ViewModels/PromiseViewModel.swift
Labels: Fix, 현정, Firebase, Push

#372 [FIX] 파베 현재위치 갱신 작동 확인
  Zipadoo/Settings.bundle/Root.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject.latest_result.txt
  Zipadoo/Settings.bundle/ZipadooLicenseProject.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/Alamofire.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/AppsFlyerFramework.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/GoogleAppMeasurement.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/GoogleDataTransport.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/GoogleUtilities.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/abseil-cpp-binary.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/firebase-ios-sdk.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/grpc-binary.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/gtm-session-fetcher.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/interop-ios-for-google-sdks.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/leveldb.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/lottie-ios.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/nanopb.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/promises.plist
  Zipadoo/Settings.bundle/ZipadooLicenseProject/swift-protobuf.plist
  Zipadoo/Settings.bundle/en.lproj/Root.strings
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/Enum/Enum.swift
  Zipadoo/Zipadoo/ViewModels/LocationStore.swift
  Zipadoo/Zipadoo/ViewModels/Login/AuthStore.swift
  Zipadoo/Zipadoo/ViewModels/Login/EmailLoginStore.swift
  Zipadoo/Zipadoo/Views/Alert/ArrivalMessagingView.swift
  Zipadoo/Zipadoo/Views/Friends/FriendProfileView.swift
  Zipadoo/Zipadoo/Views/Friends/FriendsRegistrationView.swift
  Zipadoo/Zipadoo/Views/Friends/FriendsView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailMapSubView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailMapView.swift
  Zipadoo/Zipadoo/Views/Home/PromiseDetailProgressBarView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/AppInfoView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/PayingView.swift
  Zipadoo/Zipadoo/Views/MyPageViews/SettingView.swift
Labels: Fix, 현정, Home

#379 [REFACTOR] PromiseViewModel 리팩토링
  Zipadoo/Zipadoo.xcodeproj/project.pbxproj
  Zipadoo/Zipadoo/ViewModels/PromiseViewModel.swift
  Zipadoo/Zipadoo/Views/Home/PromiseEditView.swift
Labels: Refactor, 해수, Firebase
